h1 {
	border-bottom: 2px solid #CCC;
}
h2, h3 {
	border-bottom: 1px solid #CCC;
}
ol#list {
	margin: 25px 20px;
	padding: 10px;
}
li.list-item {
	border-bottom: 1px solid #CCC;
	padding: 5px 3px;
	margin: 2px;
	cursor: pointer;
}
