label {
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

.label-offset {
	margin-left: 160px;
}

input {
	margin: 5px 0;
}

.flash {
	padding: 10px;
	border: 1px solid #000;
	background-color: #CCC;
}

li.ui-sortable-helper {
	list-style: none;
}
li.active {
	background: #FCC;
}
.buttons {
	padding: 5px 3px;
	border: 1px solid #777;
	background-color: #CCC;
}
.notify {
	color: #777;
}

.context-link {
	font-size: 10px;
}
.context-link a {
	text-decoration: none;
}